*{
    margin: 0px;
    padding: 0px;
}
.navwar1{
    background-color: rgb(16, 15, 15);
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.navwar1 li a{
    text-decoration: none;
    color: white;
    margin: 2rem;
    display: flex;
    font-family: sans-serif;
    font-weight: 400;
}
.comingsoon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 35%;
    font-size: 1.6rem;
    font-family: monospace;
    /* z-index: -1; */
}
video{
    object-fit: cover;
    width: 100%;
    height: 43rem;
    position: absolute;
    top: 0px;
    /* z-index: -1; */
  
   
}
body{
     background-color:#100f13;
    height: 30rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: #0962ff;
    color: white;
    position: absolute;
    top: 36rem;
    left: 41rem;
    width: 12rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-family: ui-serif;
    font-weight: 700;
    border: transparent;
    /* z-index: -1; */
}
.btn a{
    text-decoration: none;
    color: white;
}



.event-section{
    position: relative;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.event-box{
    /* background-color: #38383d; */
    height: 30rem;
    width: 23rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 2% 4%;
    /* z-index: -1; */
}
.event-name{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    margin-top: -5rem;
    width: 32rem;
    display: flex;
    justify-content: center;
}
.event-box1{
    /* background-color: #38383d; */
    height: 30rem;
    width: 53rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 2% 4%;
    /* z-index: -1; */
}

.about-program{
    position: relative;
    top: 60%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    z-index: -1;
    height: 16rem;
    width: 100%;
}
.about-illuminati{
    /* background-color: #38383d; */
    height: 16rem;
    width: 33rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 8% 4%;
}
.program-title{
    position: relative;
    top: 11rem;
    width: 50%;
    color: white;
}
.we-are-back{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    
}

.program-details{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-top: 1rem;
}
.joint-with{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-top: 1rem;
}




.event-box img{
    width: 24rem;
    margin-top: 2.7rem;
    border-radius: 1rem;
    position: relative;
    left: 4.5rem;
    height: 30rem;
}

.about-illuminati img{
    width: 35rem;
    border-radius: 1rem;
    position: relative;
}
/* .event-box :hover{
    transition: all 0.3s ease-in;
    transform: scale(1.01);
    transform-origin: bottom;
} */
.box-i :hover{
    transition: all 0.4s ease-in-out;
    transform: scale(1.03);
    transform-origin: bottom;
  
}
#rangoliname{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    width: 32rem;
    display: flex;
    justify-content: center;
    margin: auto;
    top: -5rem;
}
 .event-details{
    color: white;
    justify-content: center;
    align-items: center;
    width: 23rem;
    position: relative;
    left: 5rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    font-family: sans-serif;
    
} 
.event-details1{

    color: white;
    justify-content: center;
    align-items: center;
    width: 57rem;
    position: relative;
    left: 5rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    font-family: sans-serif;
}
.det1{
    margin: 10px;
}
.register-button button{
    font-size: 1.1rem;
    background-color: #c80047;
    width: 10rem;
    height: 2.3rem;
    color: white;
    border-radius: 1rem;
    border: transparent;
    font-family: revert-layer;
    position: relative;
    left: 5rem;
    margin-top: 1rem;
}

.next-box{
    margin-top: 40rem;
    display: flex;
    position: relative;
    left: 27rem;
}
.next-box .box-i-next img{
    width: 52rem;
}
 .next-box .last-event-details{
    width: 48rem;
}